body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: indigo;
    text-align: center;
    padding: 20px;
}
ul {
    display: block;
    list-style: none;
    margin: 10px;
    padding: 30px;
}
a {
text-decoration: none;
color: black;
 }
 a:hover {
    color: lightcoral;
 }